{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'social/css/task-page.css' %}"
/>

<div class="block_content">
  <h2 class="header_text">Задача: {{task.title}}</h2>
  <div class="status_block">
    Описание:
    <p class="status">{{task.description}}</p>
  </div>
  <div class="status_block">
    Автор:
    <p class="status">{{task.author}}</p>
  </div>
  <div class="status_block">
    Дата создания задачи:
    <p class="status">{{task.time_create}}</p>
  </div>
  {% if task.status == 0 %}
  <div class="status_block">
    Статус:
    <p class="status">Задача закрыта</p>
  </div>
  {% else %}
  <div class="status_block">
    Статус:
    <p class="status" style="color: grey">Задача открыта</p>
  </div>
  {% endif %}
  <div class="status_block">
    Дедлайн до
    <p class="status" style="color: red">{{task.deadline}}</p>
  </div>
  {% if task.status == 1 %}
  <a href="{% url 'todo:task_toggle_complete' task.slug%}">
    <button type="submit" class="moreButton">Закрыть</button>
  </a>
  {% else %}
  <a href="{% url 'todo:task_toggle_complete' task.slug %}">
    <button type="submit" class="moreButton">Открыть</button>
  </a>
  {% endif %}

  <a href="{% url 'todo:delete_task' task.slug %}">
    <button class="moreButton">Удалить задачу</button>
  </a>
  <a href="{% url 'todo:update_task' task.slug %}">
    <button class="moreButton">Редактировать задачу</button>
  </a>

  <h2 style="margin-bottom: 20px">Подзадачи:</h2>

  <a href="{% url 'todo:add_subtask' task.slug %}">
    <button class="moreButton">Добавить подзадачу</button>
  </a>

  <ul>
    {% for subtask in subtasks %}
    <li>
      <p>Название подзадачи: {{subtask.title}}</p>
      <p>Описание:{{subtask.description}}</p>
      <p>Отвественный: {{subtask.responsible}}</p>
      <p>Время создания: {{subtask.time_create}}</p>

      {% if subtask.status == 0 %}
      <p style="color: green">Статус: Задача закрыта</p>
      {% else %}
      <p style="color: grey">Статус: Задача открыта</p>
      {% endif %}
      <p style="color: red">Дедлайн до {{subtask.deadline}}</p>

      {% if task.status == 1 %}
      <a href="{% url 'todo:subtask_toggle_complete' subtask.slug %}">
        <button type="submit" class="moreButton">Закрыть</button>
      </a>
      {% else %}
      <a href="{% url 'todo:subtask_toggle_complete' subtask.slug %}">
        <button type="submit" class="moreButton">Открыть</button>
      </a>
      {% endif %}

      <a href="{% url 'todo:delete_subtask' subtask.slug %}">
        <button class="moreButton">Удалить</button>
      </a>
      <a href="{% url 'todo:update_subtask' subtask.slug %}">
        <button class="moreButton">Редактировать подзадачу</button>
      </a>
    </li>

    {% endfor %}
  </ul>
</div>
<style></style>
{% endblock %}
