{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>ToDo Page</h2>

<h2>Задача: {{task.title}}</h2>
<p>Описание: {{task.description}}</p>
<p>Автор: {{task.author}}</p>
<p>Дата создания задачи: {{task.time_create}}</p>
{% if task.status == 0 %}
<p style="color: green">Статус: Задача закрыта <img src="{% static 'images/check-mark.png' %}" style="width: 25px; height: 25px;"></p>
{% else %}
<p style="color: grey">Статус: Задача открыта </p>
{% endif %}
<p style="color: red;">Дедлайн до {{task.deadline}}</p>
{% if task.status == 1 %}
<button type="submit"><a href="{% url 'todo:task_toggle_complete' task.slug %}">Закрыть</a></button>
{% else %}
<button type="submit"><a href="{% url 'todo:task_toggle_complete' task.slug %}">Открыть</a></button>
{% endif %}

<button><a href="{% url 'todo:delete_task' task.slug %}">Удалить задачу</a></button>
<button><a href="{% url 'todo:update_task' task.slug %}">Редактировать задачу</a></button>

<h2>Подзадачи:</h2>

<button><a href="{% url 'todo:add_subtask' task.slug %}">Добавить подзадачу</a></button>

<ul>
  {% for subtask in subtasks %}
    <li>
      <p>Название подзадачи: {{subtask.title}}</p>
      <p>Описание:{{subtask.description}}</p>
      <p>Отвественный: {{subtask.responsible}}</p>
      <p>Время создания: {{subtask.time_create}}</p>

      {% if subtask.status == 0 %}
      <p style="color: green">Статус: Задача закрыта <img src="{% static 'images/check-mark.png' %}" style="width: 25px; height: 25px;"></p>
      {% else %}
      <p style="color: grey">Статус: Задача открыта </p>
      {% endif %}
      <p style="color: red;">Дедлайн до {{subtask.deadline}}</p>

      {% if task.status == 1 %}
      <button type="submit"><a href="{% url 'todo:subtask_toggle_complete' subtask.slug %}">Закрыть</a></button>
      {% else %}
      <button type="submit"><a href="{% url 'todo:subtask_toggle_complete' subtask.slug %}">Открыть</a></button>
      {% endif %}

      <button><a href="{% url 'todo:delete_subtask' subtask.slug %}">Удалить</a></button>
      <button><a href="{% url 'todo:update_subtask' subtask.slug %}">Редактировать подзадачу</a></button>
      </li>

  {% endfor %}
</ul>

{% endblock %}