{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4><a href="{% url 'cloud:cloud_list' %}"><<<</a></h4>
<img style="width: 20px; height: 20px; position:absolute; margin-right: 100%; margin-top: 3px;" src="{% static 'images/folder.png' %}">
<h4 style="margin-left: 24px; margin-bottom: -5px;">{{ folder.name }}</h4>

<p><button><a href="{% url 'cloud:add_file' folder.slug %}">Добавить файл</a></button></p>



  {% for file in folder.file_set.all %}
    <div style="display: inline-block; padding: 30px;">
    <h4>Название файла - "{{file.name}}"</h4>
    <p>Файл добавил {{file.author}} в {{file.time_create}}</p>
    <button><a href="{{ file.file.url }}">Скачать</a></button>
    <button><a href="{% url 'cloud:delete_file' file.id %}">Удалить</a></button>
    </div>

  {% endfor %}




{% endblock %}